.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "NavBar NavBar NavBar NavBar NavBar"
    "Facilitator ItemsToBringHeader ItemsToBringHeader ChatHeader ChatHeader"
    "Facilitator ItemsToBring ItemsToBring Chat Chat"
    "Facilitator ItemsToBring ItemsToBring Chat Chat"
    ". ItemsToBring ItemsToBring Chat Chat"
    ". ItemsToBring ItemsToBring Chat Chat"
    "AttendeesHeader ItemsImBringingHeader ItemsImBringingHeader Chat Chat"
    "Attendees ItemsImBringing ItemsImBringing Chat Chat"
    "Attendees ItemsImBringing ItemsImBringing ChatInput ChatInput"
    "Attendees ItemsImBringing ItemsImBringing . .";
  max-height: 100vh;
  min-height: 100vh;
  background-color: #457b9d;
}
h3 {
  font-size: 30px;
  color: #f1faee;
  text-align: center;
}

.NavBar {
  grid-area: NavBar;
  background-color: #1d3557;
}

.Facilitator {
  grid-area: Facilitator;
  background-color: #a8dadc;
}
.Facilitator img {
  max-width: 35%;
  margin-left: 30%;
}

.ItemsToBringHeader {
  grid-area: ItemsToBringHeader;
  background-color: #1d3557;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ItemsToBring {
  grid-area: ItemsToBring;
  background-color: #f1faee;
  margin: 0% 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ItemsImBringingHeader {
  grid-area: ItemsImBringingHeader;
  background-color: #1d3557;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ItemsImBringing {
  grid-area: ItemsImBringing;
  background-color: #f1faee;
  margin: 0% 2%;
  margin-bottom: 1%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ChatHeader {
  grid-area: ChatHeader;
  background-color: #1d3557;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Chat {
  grid-area: Chat;
  background-color: #f1faee;
  margin: 0% 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ChatInput {
  grid-area: ChatInput;
  background-color: #285ca5;
}

.AttendeesHeader {
  grid-area: AttendeesHeader;
  background-color: #1d3557;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Attendees {
  grid-area: Attendees;
  background-color: #f1faee;
  margin: 0% 4%;
  margin-bottom: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* For presentation only, no need to copy the code below */
/* .grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
} */
